* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: ;
}

#page-landing {
    
    text-align: center;
    min-height: 100vh;
    background-color: ;

    display: flex;
}

div#title{
    background-color: ;
    text-align: center;
    min-height: 5vh;
}

#container {
    margin: auto;
    text-align: center;    
    width: min(90%, 112rem);
    background-color: ;
}

.signDiv{
    background-color: ;
    width: 50vh;
    height: 30vh;
    display: inline-block;
    text-align: center;  
    margin: 80px;
}
